.itemContainer {
    position: relative;
    z-index: 10;
    padding: 0 3rem;

    .title {
        text-align: start;
        font-size: 3rem;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}